<template>
  <div class="driver-details" :class="{ selected: vehicleSelected === status.id }">
    <img src="@/assets/icons/person.svg" alt="Driver" ref="driver-id" :title="`Driver ID: ${driver.id}`"/>
    <dl>
      <dt>Name:</dt>
      <dd>
        <strong ref="first-name">{{ driver.first_name }}</strong> <span ref="last-name">{{ driver.last_name }}</span>
      </dd>
    </dl>
    <dl>
      <dt>Status:</dt>
      <dd>
        <span class="label" :class="status.status">
          is {{ status.status }}
        </span>
      </dd>
    </dl>
    <template v-if="status.status === 'driving' && vehicleSelected !== status.id">
      <dl>
        <dt>Option:</dt>
        <dd>
          <button type="button" ref="select-vehicle" @click="selectVehicle(status.id)">Show Vehicle</button>
        </dd>
      </dl>
    </template>
  </div>
</template>

<script>
export default {
  name: 'DriverDetails',
  props: {
    driver: {
      type: Object,
      required: true
    }
  },
  computed: {
    vehicleSelected() {
      return this.$store.state.selectedVehicle
    },
    status () {
      if (this.$store.state.vehicles && this.$store.state.vehicles.length > 0) {
        const isDriving = this.$store.state.vehicles.find((item) => item.driver_id === this.driver.id)

        if (isDriving) {
          return {
            status: 'driving',
            id: isDriving.id
          }
        } else {
          return {
            status: 'free'
          }
        }
      }
      return 'unknown'
    }
  },
  methods: {
    selectVehicle (id) {
      this.$store.dispatch('selectVehicle', id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .driver-details {
    padding: 1em 2em;
    transition: var(--main-transition);
    border: 2px solid transparent;
    &.selected {
      border: 2px solid var(--main-success-green);
      border-radius: 0.5em;
    }

    dl {
      width: 100%;
      display: flex;
      font-size: 0.9em;
      color: rgba(0,0,0,0.7);
      padding: 1em;
      margin: 0;
      flex-wrap: wrap;
      border-bottom: 1px solid var(--main-border-color);

      &:last-child {
        border: none;
      }
      dt {
        flex: 1;
        font-weight: bold;
        width: 5em;
      }
      dd {
        flex: 2;
        width: 10em;

        .no-driver {
          background: var(--main-red);
          color: var(--main-white);
          border-radius: 0.75em;
          padding: 0.25em 1em;
          font-size: 0.9em;
        }

        .label{
          padding: 0.5em 1em;
          border-radius: 0.75em;

          &.driving {
            background: var(--main-darker-grey);
            color: var(--main-text) !important;
          }
          &.free {
            background: var(--main-success-green);
          }
        }

        button {
          font-size: 0.8em;
        }
      }
    }

    img {
      height: 2em;
    }
  }
</style>
