<template>
    <div class="list-drivers">
      <h2><img src="@/assets/icons/bus_driver.svg" alt="Driver" /> Available drivers</h2>
      <template v-if="isLoading.status && isLoading.type === 'drivers'">
          <Loader />
        </template>
        <template v-else>
        <template v-if="drivers">
          <transition name="fade">
            <ul>
              <li v-for="(driver, index) in drivers" :key="`driver-${index}`">
                <DriverDetails :driver="driver" />
              </li>
            </ul>
          </transition>
        </template>
        <template v-else>
          <div class="empty-state">
            We haven't found any drivers.
          </div>
        </template>
        <div class="options">
          <button type="button" class="load-drivers" @click="loadDrivers()">Refresh list of drivers</button>
        </div>
      </template>
    </div>
</template>

<script>
import Loader from '@/components/layout/Loader'
import DriverDetails from './DriverDetails'
export default {
  name: 'ListDrivers',
  components: {
    Loader,
    DriverDetails
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading
    },
    drivers () {
      return this.$store.state.drivers
    }
  },
  methods: {
    loadDrivers () {
      this.$store.dispatch('getDrivers')
    }
  }
}
</script>

<style lang="scss" scoped>
  .list-drivers {
    position: relative;
    min-height: 10em;

    h2 {
      display: flex;
      align-items: center;
      color: var(--main-primary-lighter);
      font-weight: normal;

      img {
        height: 1.5em;
        margin-right: 1em;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        background: var(--main-white);
        box-shadow: var(--box-shadow-dropdown);
        border-radius: 0.25em;
        margin: 0 0 0.5em 0;
        font-size: 0.9em;
        font-weight: normal;
        display: flex;
        align-items: center;
      }
    }

    .options {
      text-align: center;
      margin: 1em 0;
    }
  }

</style>
