<template>
    <div class="list-vehicles">
      <h2><img src="@/assets/icons/bus.svg" alt="Vehicles" /> Available vehicles</h2>
      <template v-if="isLoading.status && isLoading.type === 'vehicles'">
        <Loader />
      </template>
      <template v-else>
        <template v-if="vehicles">
          <transition name="fade">
            <ul ref="has-vehicles" class="test">
              <li v-for="(vehicle, index) in vehicles"
                  :key="`vehicle-${index}`"
                  @click="selectVehicle(vehicle.id)"
                  ref="select-vehicle"
                  :class="{ selected: selectedVehicle === vehicle.id }">
                <h3 ref="vehicle-name">{{ vehicle.name }}</h3>
                <dl>
                  <dt>Driver</dt>
                  <dd>
                    <template v-if="getDriver(vehicle.driver_id)">
                    {{ getDriver(vehicle.driver_id) }}
                    </template>
                    <template v-else>
                      <span class="label no-driver">
                        No Driver
                      </span>
                    </template>
                  </dd>
                </dl>
                <dl>
                  <dt>Capacity</dt>
                  <dd>{{ vehicle.capacity}}</dd>
                </dl>
                <dl>
                  <dt>Passengers</dt>
                  <dd>{{ vehicle.passengers }}</dd>
                </dl>
              </li>
            </ul>
          </transition>

          <div class="options">
            <button type="button" ref="show-all-vehicles" class="show-all-vehicles" @click="toggleAllVehiclesOnMap()">
            <template v-if="allVehiclesOnMap">
              Only selected vehicles on map
            </template>
            <template v-else>
              Show all vehicles on map
            </template>
            </button>
          </div>
          </template>
          <template v-else>
            <div class="empty-state">
              We haven't found any vehicles. :(
            </div>
          </template>
          <div class="options">
            <button type="button" class="load-vehicles" ref="load-vehicles" @click="loadVehicles()">Refresh list of vehicles</button>
          </div>
      </template>
    </div>
</template>

<script>
import Loader from '@/components/layout/Loader'
export default {
  name: 'ListVehicles',
  components: {
    Loader
  },
  computed: {
    isLoading () {
      return this.$store.state.isLoading
    },
    vehicles () {
      if (this.$store.state.vehicles && this.$store.state.vehicles.length > 0) {
        return this.$store.state.vehicles
      }
      return null
    },
    selectedVehicle () {
      return this.$store.state.selectedVehicle
    },
    allVehiclesOnMap () {
      return this.$store.state.showAllVehiclesOnMap
    }
  },
  methods: {
    loadVehicles () {
      this.$store.dispatch('getVehicles')
    },
    getDriver (id) {
      if (id != null && this.$store.state.drivers) {
        const driver = this.$store.state.drivers.find(item => item.id === id)

        if (driver != null) {
          return `${driver.first_name} ${driver.last_name}`
        }
        return null
      }
      return null
    },
    toggleAllVehiclesOnMap () {
      this.$store.dispatch('toggleShowAllVehiclesOnMap')
    },
    selectVehicle (id) {
      this.$store.dispatch('selectVehicle', id)
    }
  }
}
</script>

<style lang="scss" scoped>
  .list-vehicles {
    position: relative;
    min-height: 10em;

    h2 {
      display: flex;
      align-items: center;
      color: var(--main-primary-lighter);
      font-weight: normal;

      img {
        height: 2.5em;
        margin-right: 1em;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        background: var(--main-white);
        box-shadow: var(--box-shadow-dropdown);
        border-radius: 0.25em;
        margin: 0 0 1em 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        transition: var(--main-transition);
        cursor: pointer;
        border: 2px solid transparent;

        h3 {
          background: var(--main-primary);
          color: var(--main-white);
          padding: 0.5em 1em;
          margin: 0;
          width: 75%;
          border-bottom-right-radius: 2em;
          transition: var(--main-transition);
          font-weight: normal;
        }

        &:hover,
        &.selected {
          border: 2px solid var(--main-success-green);
          h3 {
            background: var(--main-success-green);
          }
        }

        .vehicle-id {
          background: var(--main-primary);
          width: 1.3em;
          height: 1.3em;
          font-size: 0.9em;
          border-radius: 50%;
          text-align: center;
          color: var(--main-white);
          margin-right: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        dl {
          width: 100%;
          display: flex;
          font-size: 0.9em;
          color: rgba(0,0,0,0.7);
          padding: 1em;
          margin: 0;
          flex-wrap: wrap;
          border-bottom: 1px solid var(--main-border-color);

          &:last-child {
            border: none;
          }

          dt {
            flex: 1;
            font-weight: bold;
          }
          dd {
            flex: 1;

            .label.no-driver {
              background: var(--main-red);
            }
          }
        }
      }
    }
    .options {
      text-align: center;
      margin: 1em 0;
    }

  }

</style>
