<template>
    <div class="side-bar">
      <h1 class="available-items">{{ title }}</h1>
      <ListDrivers />
      <hr />
      <ListVehicles />
    </div>
</template>

<script>
import ListDrivers from '@/components/drivers/ListDrivers'
import ListVehicles from '@/components/vehicles/ListVehicles'

export default {
  name: 'SideBar',
  components: {
    ListDrivers,
    ListVehicles
  },
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .side-bar {
    padding: 1em;
    max-width: 22em;
    min-width: 18em;

    h1 {
      font-weight: normal;
      margin-bottom: 1em;
    }

    hr {
      border: 0;
      border-bottom: 1px solid var(--main-border-color);
      margin: 1.5em 0;
    }
  }
</style>
