<template>
    <div class="container">
        <aside>
            <side-bar ref="side-bar" title="Select a driver or vehicle" />
        </aside>
        <main>
            <GoogleMaps ref="google-maps" />
        </main>
    </div>
</template>

<script>
    import SideBar from '@/components/layout/SideBar'
    import GoogleMaps from '@/components/map/GoogleMaps'

    export default {
        name: 'BridjTestBase',
        components: {
            SideBar,
            GoogleMaps
        },
        computed: {
            vehicles () {
                return this.$store.state.vehicles
            },
            drivers () {
                return this.$store.state.drivers
            }
        },
        methods: {
            loadDrivers () {
                this.$store.dispatch('getDrivers')
            },
            loadVehicles () {
                this.$store.dispatch('getVehicles')
            }
        },
        created () {
            // Load Data from API
            this.loadDrivers()
            this.loadVehicles()
        }
    }
</script>
