<template>
  <div id="app">
    <BridjTestBase />
  </div>
</template>

<script>

import BridjTestBase from "./views/BridjTestBase";

export default {
  name: 'app',
  components: { BridjTestBase }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;

  --main-top-bar-height: 80px;

  --primary-font: 'Nunito', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;

  /* Primary Color */
  --primary-hue: 266;
  --primary-sat: 83%;
  --primary-light: 21%;

  /* Secondary Color */
  --secondary-hue: 155;
  --secondary-sat: 72%;
  --secondary-light: 44%;

  /* Shader */
  --shader: 15%;

  /* Primary Variation */
  --primary-satDarker: calc(var(--primary-sat) + var(--shader));
  --primary-lightDarker: calc(var(--primary-light) - var(--shader));

  --primary-satLighter: calc(var(--primary-sat));
  --primary-lightLighter: calc(var(--primary-light));

  --primary-satLighterer: calc(var(--primary-sat) - var(--shader));
  --primary-lightLighterer: calc(var(--primary-light) + var(--shader));

  /* Secondary Variation */
  --secondary-satDarker: calc(var(--secondary-sat) + var(--shader));
  --secondary-lightDarker: calc(var(--secondary-light) - var(--shader));

  /* Defining all colors */
  --main-text: rgb(0, 0, 0, 0.9);
  --main-text-light: rgb(99, 115, 129);
  --main-text-bright: white;
  --main-white: white;
  --main-background: white;
  --main-primary: hsl(
      var(--primary-hue),
      var(--primary-sat),
      var(--primary-light)
  ); /* #ff3090*/
  --main-primary-dark: hsl(
      var(--primary-hue),
      var(--primary-satDarker),
      var(--primary-lightDarker)
  ); /* #3490ef */ /* #ab1975 */
  --main-primary-light: hsl(
      var(--primary-hue),
      var(--primary-satLighter),
      var(--primary-lightLighter)
  ); /* #3490ef */ /* #ab1975 */
  --main-primary-light-trans: hsla(
      var(--primary-hue),
      var(--primary-satLighter),
      var(--primary-lightLighter),
      0.5
  );
  --main-primary-lighter: hsl(
      var(--primary-hue),
      var(--primary-satLighterer),
      var(--primary-lightLighterer)
  );
  --main-primary-lighter-trans: hsla(
      var(--primary-hue),
      var(--primary-satLighterer),
      var(--primary-lightLighterer),
      0.5
  );
  --main-secondary: hsl(
      var(--secondary-hue),
      var(--secondary-sat),
      var(--secondary-light)
  ); /* #ff3090*/
  --main-secondary-dark: hsl(
      var(--secondary-hue),
      var(--secondary-satDarker),
      var(--secondary-lightDarker)
  );
  --main-background-gradient: var(--main-primary)
  linear-gradient(45deg, var(--main-primary-lighter), var(--main-primary));
  --main-primary-link: var(--main-primary);
  --main-light-grey: #f6f8fe;
  --main-darker-grey: #eef1f5;
  --main-darker: #c8d7e6;
  --main-dark: #888;
  --main-light-blue: #e8f3ff;
  --main-red: #fd5353;
  --main-error: #cb5858;
  --main-green: var(--main-secondary); /* #21ce6a */
  --main-orange: #ff9300;
  --main-light-yellow: #fff6c3;
  --main-light-green: #d7ffef;
  --main-title-dark: #5e6973;
  --main-success-green: #35c58b;
  --main-confirm: #35c58b;
  --main-confirm-pressed: #227049;
  --main-delete: #c52015;
  --main-delete-pressed: #991913;
  --main-border-color: rgba(0, 0, 0, 0.05);
  --main-form-border-color: #e9ecef;
  --main-outline-color: rgba(64, 158, 255, 0.6);
  --main-overlay-color: rgba(57, 94, 154, 0.67);
  --main-info-background: #e3f0ff;
  --main-input: #27292b;
  --tag-red: #ff163d;
  --tag-dark-red: darkred;
  --tag-rose: #ffc7ca;
  --background-radial-primary: radial-gradient(
      var(--main-primary),
      var(--main-primary-dark)
  );

  /* Defining box shadows */
  --box-shadow-dropdown: 0 15px 35px rgba(50, 50, 93, 0.05),
  0 5px 15px rgba(0, 0, 0, 0.07);
  --box-shadow-dropup: 0 -15px 35px rgba(50, 50, 93, 0.05),
  0 -5px 15px rgba(0, 0, 0, 0.07);
  --box-shadow-dropdown-alt: 0 15px 35px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);
  --box-shadow-dropdown-button: 0 5px 10px rgba(0, 0, 0, 0.2),
  0 15px 40px rgba(0, 0, 0, 0.1);
  --box-shadow-dropdown-reduced: 0 1px 3px rgba(50, 50, 93, 0.1),
  0 1px 1px rgba(0, 0, 0, 0.07);
  --box-shadow-sidebar: 0 15px 35px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);
  --box-shadow-dropdown-inset: inset 10px 0px 10px rgba(50, 50, 93, 0.1),
  0 5px 15px rgba(0, 0, 0, 0.07);
  --box-shadow-icon-inset: inset 0 0 5em rgba(0, 0, 0, 0.1);
  --box-shadow-menu-pressed: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
  --image-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  --main-box-shadow-long: -1px -1px 5px 0 rgba(26, 26, 67, 0.05),
  -12px 20px 125px -25px rgba(50, 50, 93, 0.5),
  -18px 20px 75px -37.5px rgba(0, 0, 0, 0.6);

  /* Defining Transitions */
  --main-transition: ease-in-out all 0.3s;

  h2 {
    font-size: 1.4em;
  }
  button {
    background: var(--main-primary);
    color: var(--main-white);
    padding: 1em 2em;
    border-radius: 0.25em;
    box-shadow: var(--box-shadow-dropdown-button);
    border: none;
    margin: 1em 0.5em 1em 0;
    font-weight: bold;
    transition: var(--main-transition);

    &:hover {
      box-shadow: var(--box-shadow-dropdown-inset);
      background: var(--main-primary-lighter);
    }
  }

  .label {
    color: var(--main-white);
    border-radius: 0.75em;
    padding: 0.5em 1em;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {

    max-width: 1920px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;

    aside {
      flex: 1;
    }
    main {
      flex: 4;
    }

  }

  /* Fade Transition */

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

}
</style>
