<template>
    <div class="google-maps">
      <template v-if="isLoading.status">
        <Loader />
        <h2>Loading ...</h2>
      </template>
      <template v-else>
        <GmapMap
          :center="{lat: init.lat, lng: init.lng}"
          :zoom="13"
          map-type-id="terrain"
          class="google-map"
          ref="google-map"
        >
          <template v-if="markers">
            <GmapMarker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="false"
              ref="geo-marker"
              @click="selectVehicle(m.id)"
            />
          </template>
        </GmapMap>
      </template>
    </div>
</template>

<script>
import Loader from '@/components/layout/Loader'
import * as VueGoogleMaps from 'vue2-google-maps'
export default {
  name: 'GoogleMaps',
  components: {
    Loader,
    'GmapMap': VueGoogleMaps.Map,
    'GmapMarker': VueGoogleMaps.Marker
  },
  data () {
    return {
      init: {
        lat: -27.462272,
        lng: 153.008473
      },
      mockMarkers: [
        {
          id: 1,
          position: {
            lat: -27.462272,
            lng: 153.008473
          }
        }
      ]
    }
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading
    },
    markers: {
      get () {
        if (this.$store.state.showAllVehiclesOnMap) {
          if (this.$store.state.vehicles && this.$store.state.vehicles.length > 0) {
            const markers = []
            this.$store.state.vehicles.filter((item) => {
              markers.push({
                id: item.id,
                position: {
                  lat: item.latitude,
                  lng: item.longitude
                }
              })
            })
            return markers
          }
          return false
        } else if (this.$store.state.selectedVehicle && this.$store.state.vehicles) {
          const vehicle = this.$store.state.vehicles.find(item => item.id === this.$store.state.selectedVehicle)
          return [{
            id: vehicle.id,
            position: {
              lat: vehicle.latitude,
              lng: vehicle.longitude
            },
          }]
        } else {
          return this.mockMarkers
        }
      },
      set (value) {
        return value
      }
    }
  },
  methods: {
    selectVehicle (id) {
      this.$store.dispatch('selectVehicle', id)
    }
  }
}
</script>

<style lang="scss" scoped>
.google-maps {
  padding: 1em;
  box-shadow: var(--box-shadow-dropdown);
  position: sticky;
  top: 1em;
  min-height: 10em;
  text-align: center;

  h2 {
    font-weight: normal;
  }

  .google-map {
    width: 100%;
    height: 90vh;
  }
}
</style>
