<template>
    <div class="driver-form-container">

      <!--
      Your form goes here ...

      Hint:

      Please try to get familiar with:
      1) v-model to bidirectional binding
      2) vuex dispatch action to mutate data in the store

      -->
    </div>
</template>

<script>
export default {
  name: 'DriverForm'
}
</script>

<style scoped>

</style>
